<!-- src/app/dashboard/statistics/statistics.component.html -->
<div class="statistics">
  <div class="stat-card">
    <div class="icon-container">
      <i class="fas fa-dollar-sign"></i>
    </div>
    <div class="stat-content">
      <span>Total patients</span>
      <h2>642</h2>
    </div>
  </div>

  <div class="stat-card">
    <div class="icon-container">
      <i class="fas fa-user-nurse"></i>
    </div>
    <div class="stat-content">
      <span>Total nurses</span>
      <h2>154</h2>
    </div>
  </div>

  <div class="stat-card">
    <div class="icon-container">
      <i class="fas fa-stethoscope"></i>
    </div>
    <div class="stat-content">
      <span>Total doctors</span>
      <h2>2935</h2>
    </div>
  </div>

  <div class="stat-card">
    <div class="icon-container">
      <i class="fas fa-syringe"></i>
    </div>
    <div class="stat-content">
      <span>Total equipment</span>
      <h2>2935</h2>
    </div>
  </div>

  <!-- Add Surgeries Card -->
  <div class="stat-card">
    <div class="icon-container">
      <i class="fas fa-procedures"></i>
    </div>
    <div class="stat-content">
      <span>Total consultations</span>
      <h2>450</h2>
    </div>
  </div>

  <!-- Add Rooms Card -->
  <div class="stat-card">
    <div class="icon-container">
      <i class="fas fa-door-open"></i>
    </div>
    <div class="stat-content">
      <span>Total rooms</span>
      <h2>50</h2>
    </div>
  </div>
</div>