<h2 mat-dialog-title>Add New Nurse</h2>

<mat-dialog-content>
  <form [formGroup]="nurseForm" class="form-container">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>years of experience</mat-label>
      <input matInput formControlName="years_of_experience" />
      
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Department</mat-label>
      <input matInput formControlName="department" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option value="Active">Active</mat-option>
        <mat-option value="On leave">On leave</mat-option>
        <mat-option value="Retired">Retired</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button class="save-button" (click)="onSave()">Add</button>
</mat-dialog-actions>
