<ul class="sidebar-menu">
  <!-- Dashboard -->
  <li routerLinkActive="active">
    <a routerLink="/dashboard">
      <i class="fas fa-home"></i> Dashboard
    </a>
  </li>

  <!-- Doctors -->
  <li routerLinkActive="active">
    <a routerLink="/doctors">
      <i class="fas fa-user-md"></i> Doctors
    </a>
  </li>

  <!-- Nurses -->
  <li routerLinkActive="active">
    <a routerLink="/nurses">
      <i class="fas fa-stethoscope"></i> Nurses
    </a>
  </li>
  <!-- Receptionists -->
  <li routerLinkActive="active">
    <a routerLink="/receptionists">
      <i class="fas fa-stethoscope"></i> Receptionists
    </a>
  </li>

  <!-- Patients -->
  <li routerLinkActive="active">
    <a routerLink="/patients">
      <i class="fas fa-smile-wink"></i> Patients
    </a>
  </li>

  <!-- Surgeries -->
  <li routerLinkActive="active">
    <a routerLink="/consultations">
      <i class="fas fa-syringe"></i> Consultations
    </a>
  </li>

  <!-- Rooms -->
  <li routerLinkActive="active">
    <a routerLink="/rooms">
      <i class="fas fa-door-open"></i> Rooms
    </a>
  </li>

  <!-- Log Out -->
  <li>
    <a href="#">
      <i class="fas fa-lock"></i> Log out
    </a>
  </li>
</ul>